

body{

display : flex;
justify-content : center;
align-items : center;
}


form{
    background-color: #788199;
    border: 3px solid  #666f88;
    height: 50%;
    width: 45%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px ;
}


.botom{

    height: 36px;
    border: 3px solid  #8990a2;
    font-size: 16px;
    background-color: #a3a8b7;
    cursor: pointer;
    color: white;
    margin-right: 10px;
    margin-top: 10px;
    padding: 0 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px ;

}
.botom2{

    height: 36px;
    border: 3px solid  #8990a2;
    font-size: 16px;
    background-color: #a3a8b7;
    cursor: pointer;
    color: white;
    margin-right: 10px;
    margin-top: 10px;
    padding: 0 20px;
   

}